*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

h1, h2, li{
	text-align: center;
}

.profile-pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	height: 225px;
}


p{
	margin: 2em;
}

.aside-index{
	background-image: linear-gradient(to right, green, yellow);
	width: 12em;
	height: 100vh;
	margin-right: 2em;
	float: left;
	border-right: .2em solid green;
}

.aside-index ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.aside-index a{
	text-decoration: none;
	color: black;
	padding: 1em;
	display: block;
	align: align-center;
	border-bottom: .2em solid green;
}

#first-link{
	border-top: .2em solid green;
}

.aside-index a:hover{
	background-color: green;
	color: white;
}

@media screen and (max-width:600px){
	.aside-index{
		margin-bottom: 2em;
		width: 100%;
		height: auto;
		border-down: .2em solid green;
		border-right: none;
	}
}
