* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, li {
	text-align: center;
}

p {
	margin: 2em;
}

aside {
	background-color: lightgreen;
	width: 200px;
	height: 100vh;
	margin-right: 2em;
	margin-bottom: 2em;
	float: left
}

@media screen and (max-width:600px) {
	aside {
		width: 100%;
		height: auto;
	}
}
