* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

aside {
	background-color: lightgreen;
	width: 25%;
	height: 100vh;
	float: left
}

@media screen and (max-width:600px) {
	aside {
		width: 100%;
		height: auto;
	}
}
